@import url(style.css);

.grid-lineas{
    display: grid;
    /*grid explicita de 4c x 5r */
    grid-template-columns: 20% repeat(2, 30%) 20%;
    grid-template-rows: repeat(5, auto);

}

.gtid-lineas .item:nth-child(10){
    background-color: brown;
    /*color: blanchedalmond;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;*/
    /*
    shorthand
    grid-row: grid-row-star / grid-row-end
    gricolum: grid-column-star / grip-column-end
    
    */
    grid-row: 2 / 4;
    grid-column: 2 / 5;
}
.gtid-lineas .item:nth-child(2){
    background-color: blueviolet;
    color: blanchedalmond;
    
    /*
    shorthand
    grid-row: grid-row-star / grid-row-end
    gricolum: grid-column-star / grip-column-end
    
    */
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

.gtid-lineas .item:nth-child(9){
    background-color: red;
    color: blanchedalmond;
    
    /*
    shorthand
    grid-row: grid-row-star / grid-row-end
    gricolum: grid-column-star / grip-column-end
    
    */
    grid-column: 2 / span 5;
    grid-row: 5 / span 8;
}